body {
    background-color: black;
    font-family: arial;
    color: white;
    padding: 10px;
 
}

h1 {
    color: grey; 
    font-family: verdana; 


}
#maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

.contents {
    margin-left: 85px;
}

.labels {
    width: 130px;
}

#Years {
   width: 164px;
}

#amount {
  width: 155px;
}

#table {
    padding-bottom: 10px;
}

#compute {
    margin-bottom: 15px;
    background-color: tomato;
    color: black;
    margin-left: 95px;
    padding: 5px;
    margin-top: 10px;
}

.high {
    background-color: yellow;
}
